@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto');
@import url('https://fonts.googleapis.com/css?family=Arvo|Roboto');
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: #ffffff;
}

hr {
    color: #40283E;
}

.see-all{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 2rem;
    padding: 5px;
    border: solid 1px #010122;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}


.see-all:hover {
    background: #0D0D0D;
    color: #F2958D;
    border: solid 1px #807d7d;
}


header nav {
    background-color: #0D0D0D;
}
header .navbar-brand {
    font-weight: bold;
    color: #F2958D;
    font-family: "Kaushan Script", cursive;
}

div.dropdown-menu {
    background-color: #0D0D0D;
    color: #fff;
}

.dropdown-menu .dropdown-item{
    color: #fff;
}

.dropdown-menu .dropdown-item:hover{
    color: #F2958D;
}

.navbar i {
    color: #fff;
}

header nav a{
    font-size: 0.8rem;
    font-weight: 300;
    color: #fff;
}
header nav a:hover {
    color: #F2958D;
}

header .fa-shopping-cart {
    color: #fff;
    font-size: 0.8rem;
}
header .fa-shopping-cart {
    color: #F2958D;
}

header span {
    padding-left: 6px;
    font-size: 0.8rem;
}

header ul li .login {
    font-size: 0.9rem;
    color: #ccc;
}
header ul li .login:hover {
    font-size: 0.9rem;
    color: #F2958D;
}
header ul li .btn-outline-signup {
    font-size: 0.8rem;
    border: solid 1px #F2958D;
    color: #ccc;
    
}

header ul li .btn-outline-signup:hover {
    background: #F2958D;
    color: #fff;
    transition: all 0.5 s ease-in-out;
}

.input-group {
    width: 100%;
}

.input-group .form-control {
    display: block;
}

form .form-inline{
    position: absolute;
}

form .input-group-text{
    background-color: #F2958D;
    border: none;
}

header form input[type="text"] {
    font-size: 0.8rem;
    background-color: #0D0D0D;
    border: solid 1px #F2958D;
    color: #fff;
}


.carousel-item{
    height: 450px;
    font-family: "Kaushan Script", cursive;
} 
.carousel-item img{
    height: 500px;
}
 .carousel-caption h3 {
    color: #0D0D0D;
    font-weight: bold;
 }

 .btn-outline-inf {
     border: solid 2px #0D0D0D;
     padding: 5 20px;
     color: #000;
     font-weight: bold;
     text-transform: uppercase;
 }
 .btn-outline-inf:hover {
   background: #0D0D0D;
   color: #F2958D;
   transition: all 0.9s ease-in-out;
}

.btn-outline-buy {
    border: solid 2px #0D0D0D;
    background: #0D0D0D;
    padding: 5 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-outline-buy:hover {
  background: #0D0D0D;
  color: #F2958D;
  transition: all 0.9s ease-in-out;
}

.featured-product .carousel-item{
    height: 300px;
} 
.featured-product .carousel-item img{
    height: 400px;
}
 .carousel-caption h3 {
    font-family: "Kaushan Script", cursive;
    color: #0D0D0D;
    font-weight: bold;
 }

/*Featured Collection
================================*/
.featured-product .featured-title h2{
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.featured-product a {
    color: #0D0D0D;
    text-decoration: none;
}

.product-card {
    position: relative;
    margin-bottom: 3rem;
    transition: 0.3s;
    width:;
    height: 380px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.product-card  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    padding: 1.5rem;
}
.product-card img:hover{
    transform: scale(1.2);
}

.product-title {
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}
.product-card del {
    color: #ff0000;
}

.product-card .add-to-cart {
    position: absolute;
    background: #0D0D0D;
    border: none;
    color: #fff;
    width: 100%;
    padding: 5px;
    bottom: 10px;
    right: 0;
}

.product-card .add-to-cart:hover {
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}


/* About Us 
=========================================*/
.about-us {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 1rem;
}

.about-us h1{
    padding-top: 10px;
    font-weight: bold;
}

.about-us p{
    padding-top: 10px;
}

.about-us .img-border{
    border: solid 10px #F2958D;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 5rem;
}
.about-us .img-border img:hover{
    position: relative;
    top: -0rem;
    left: -0rem;
    transition: all 0.5s ease-in-out;
}

.about-us .img-border img{
    position: relative;
    top: 2rem;
    left: 2rem;
    width: 100%;
    height: 300px;
    transition: all 0.5s ease-in-out;
}

.links .socail-link ul li{
    padding: 10px;
    display: inline;
    font-size: 1.5rem;
    color: #0D0D0D;
    margin-top: 10rem;
}

.links .socail-link ul li a{
    padding: 10px;
    display: inline;
    font-size: 1.5rem;
    color: #0D0D0D;
}

.socail-link ul li a:hover{
    color: #F2958D;
}

/* BreadCrumbs
=========================================*/

 ul.breadcrumb {
    margin-top: 5rem;
    padding: 10px 16px;
    list-style: none;
    background: transparent;
  }
  
  /* Display list items side by side */
 ul.breadcrumb li {
    display: inline;
    font-size: 0.5;
    font-weight: bold;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #F2958D;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
 ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .checkout {
      background: #fdfafa;
  }

  .checkout .checkout-table {
      margin-top: 5rem;
  }
  .checkout-form {
      margin-top: 5rem;
  }

/* View Product Img
=========================================*/

.product-img .view-product-img img{
    width: 100%;
    height: 600px;
    margin: 0;
    object-fit: fill;
    margin-bottom: 0.5rem;
} 

.product-img .img img{
    display: inline-block;
    max-width: 98%;
    height: 300px;
    width: 45%;
    margin-left: 2%;
    object-fit: fill;
}

.product-img img:hover{
    opacity: 0.7;
}

.product-details  .prod{
    text-align: center;
}

.product-details h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.product-img p{
    font-size: 1.2rem;
}

 

.product-details .price {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.product-details form{
    margin-top:
}

/* Comment Section
=========================================*/
.comment-section{
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    font-size: 1rem;
}

.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.comment.user-comment{
    color:  #808080;
}

.comment.author-comment{
    color:  #60686d;
    justify-content: flex-end;
}

/* User and time info */

.comment .info{
    width: 17%;
}

.comment.user-comment .info{
    text-align: right;
}

.comment.author-comment .info{
    order: 3;
}


.comment .info a{	/* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
    font-size: 11px;
    color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
    width: 10%;
}

.comment.user-comment .avatar{
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img{
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img{
    float: right;
}





/* The comment text */

.comment p{
    line-height: 1.2;
    padding: 10px;
    width: 70%;
    position: relative;
    word-wrap: break-word;
    font-size: 0.8rem;
}

.comment.user-comment p{
    background-color:  #f3f3f3;
}

.comment.author-comment p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-comment p:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new{
    margin: 10px auto 0;
    width: 100%;
}

.write-new textarea{
    color:  #444;
    font: inherit;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img{
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button{
    border: solid 2px #0D0D0D;
    padding: 5 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    float:right;
    background:  none;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    cursor: pointer;
    margin-top: 18px;
}
.write-new button:hover{
    background: #0D0D0D;
    color: #F2958D;
    transition: all 0.9s ease-in-out;
}



/* Contact us
=========================================*/
.contact-form {
    padding: 10rem;
}


/* Color & Size styling
=========================================*/
.product-details form select{
    width: 6rem;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2958D;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    box-sizing: border-box;
}

.product-details select option{
    border-radius: 4px;
    box-sizing: border-box;
}

.product-details select option:active{
    border-radius: 4px;
    box-sizing: border-box;
    background: #F2958D;
}

/*  Social Links
===========================*/

.product-details .socail-link{
    margin-top: rem;
    
    font-size: 1rem;
    padding: 2px;
}

.product-details .socail-link ul li{
    padding: 10px;
    display: inline;
    margin-bottom: 10rem;
}

.product-details .socail-link ul li a{
    text-decoration: none;
    color: #0D0D0D;
    padding: 3px;
}

/*  Products Description
==============================*/
.product-description {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.product-description h2{
    font-weight: bold;
    font-size: 1rem;
    background: #0D0D0D;
    padding: 10px;
    color: #fff;
    margin-top: 2rem;
}

.product-description p {
    font-size: 1rem;
    text-align: left;
}


/*  Products Sugestion
==============================*/
.product-sugestion .sugestion-title h2{
    font-size: 1rem;
}

/* News Letter
=========================================*/
footer .form-container {
    margin-bottom: 5rem;
}
footer .input-group {
    margin: 20px auto;
    width: 100%;
}
footer input.btn.btn-lg {
    width: 60%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: solid 1px #F2958D;
    color: #fff;
}

footer button.btn {
    background: #F2958D;
    color: #0D0D0D;
    font-weight: bold;
    font-size: 0.8rem;
    width: 30%;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer input[type="text"]{
    outline: none;
}

/* Products Ads Card
====================================*/

#products-ads .bg-ads img{
    padding: 2px;
    box-shadow: 0 8px 6px -3px #ebe9e9;
}
/* 
.modalx {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe5e5;
    padding: 1rem 1.5rem;
    width: 40rem;
    border-radius: 0.5rem;
  }
  .modal-content h4 {
    text-align: center;
  } */

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }


  .card-signin {
      margin-top: 5rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  


/* FOOTER
======================================*/

.bg-footer{
    margin-top: 2rem;
    min-height: 30vh;
    color: #0000ff;
    padding: 5rem;
    background: #0D0D0D;
    color: #ada9a9;
}
.bg-small {
    background: #F2958D;
}
.bg-small p {
    margin-top: px;
    color: #0D0D0D;
    padding: 10px;
    padding-left: 3rem;
}

.bg-small p a{
    text-decoration: none;
    color: #01013b;
    font-size: 1rem;
}

footer ul li a{
    text-decoration: none;
    color: #ada9a9;
    list-style: none;
}

footer ul li a:hover{
  text-decoration: none;
  color: #d15107;
}
footer ul li{
  margin-left: 0px;
}
footer ul {
  list-style-type: none;
  padding-inline-start: 0;
}
footer h6 {
  font-weight: bold;
  padding-top: 2rem;
}

footer h6::after {
  content: '';
  display: block;
  width: 2rem; 
  background-color: #d15107;
  height: 2px;
}

footer .cw-about, footer ul li {
  font-size: 0.8rem;
  line-height: 1.8;
}

footer h5 {
  font-weight: bold;
  border-bottom: solid 2px #d15107;
  
}





/* Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px) { 
    .input-group .form-control {
        display: block;
      
    }

    .product-img .view-product-small{
        display: inline;
        width: 10%;
        height: auto;
    }
 }

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767.98px) {
    .input-group .form-control {
        display: block;
        width: 21rem;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media only screen and (min-width: 991.98px) {
    .input-group .form-control {
        display: block;
        width: 30rem;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1199.98px) {
    .input-group .form-control {
        display:;
        width: 21rem;
    }
}