<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>SLEEKA-MARIA</title>
</head>

<body>
    <div class="wrapper">

        <div class="content-area">
            <div class="back-button">
                <button class="btn-outline-inf">previous page</button>
            </div>
            <div class="recipt">
                <div class="recipt-header">
                    <div class="invoice">
                        <h1>Invoice</h1>
                        <!-- <h5>Paymant receipt</h5> -->
                        <div class="invoice-id">
                            <div class="order-id">
                                <h6>Order ID</h6>
                                <p>00256</p>
                            </div>
                            <div class="date">
                                <h6>Date Issued</h6>
                                <p>mm/dd/yy</p>
                            </div>
                        </div>
                    </div>
                    <div class="logo">
                        <h1>LOGO</h1>
                    </div>
                </div>
                <div class="receipt-body">
                    <div class="body-title">
                        <div class="billed">
                            <h6>Billed to:</h6>
                            <ul>
                                <li>Client Name</li>
                                <li>Street Address</li>
                                <li>City, state, country</li>
                            </ul>
                        </div>
                        <div class="comp">
                            <h6>Company Name:</h6>
                            <ul>
                                <li>Email</li>
                                <li>Website.com</li>
                                <li>company name</li>
                            </ul>
                        </div>
                    </div>
                    <div class="receipt-table">
                        <div class="container">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th scope="">Discription</th>
                                        <th scope="col">Unit cost</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>$228.99</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>$228.99</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>Larry the Bird</td>
                                        <td>@twitter</td>
                                        <td>$228.99</td>
                                        <td>Total</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="receipt-footer">
                        <div class="total">
                            <h4>Invoice total</h4>
                            <h3>$20.000</h3>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn-print">Print</a>
            </div>
            
        </div>

        
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>